name: Maturin CI

on:
  push:
    branches:
      - main
      - master
      - dev
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, x86, aarch64, armv7, s390x, ppc64le]
    steps:
      - uses: actions/checkout@v3
        with:
          path: pyword_counter
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Build wheels
        working-directory: pyword_counter
        run: |
          pyo3-maturin-action --release --out dist --find-interpreter --target ${{ matrix.target }} --sccache 'true' --manylinux auto
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: pyword_counter/dist

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64, x86]
    steps:
      - uses: actions/checkout@v3
        with:
          path: pyword_counter
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          architecture: ${{ matrix.target }}
      - name: Build wheels
        working-directory: pyword_counter
        run: |
          pyo3-maturin-action --release --out dist --find-interpreter --target ${{ matrix.target }} --sccache 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: pyword_counter/dist

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v3
        with:
          path: pyword_counter
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Build wheels
        working-directory: pyword_counter
        run: |
          pyo3-maturin-action --release --out dist --find-interpreter --target ${{ matrix.target }} --sccache 'true'
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: pyword_counter/dist

  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: pyword_counter
      - name: Build sdist
        working-directory: pyword_counter
        run: |
          pyo3-maturin-action sdist --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: pyword_counter/dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [linux, windows, macos, sdist]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
