name: Rust CI

on:
  push:
    branches:
      - main
      - master
      - dev
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Set up Rust
        uses: actions/checkout@v2
      - name: Cache Cargo dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Clippy
        run: cargo clippy --verbose -- -D warnings
      - name: Audit
        run: cargo audit
      - name: Build Release
        run: cargo build --release
      - name: Upload Release Artifact
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: target/release/

  release:
    needs: build
    runs-on: ubuntu-latest
    if: "github.event_name == 'create' && github.event.ref_type == 'tag'"
    steps:
      - name: Download Release Artifact
        uses: actions/download-artifact@v2
        with:
          name: release
          path: target/release/
      - name: Create Release Draft
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/release/hello_world
            target/release/guessing_game
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
